
  
.coord_container {
        border: 1px black solid;
        width: 45%;
        flex-wrap: wrap;
        padding: 2px;
        margin: 2px;
}

#control {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 50%;
        height: 100%;
        background: #597da3;
        padding: 5px;
}

#map {
        position: absolute;
		color:black;
        top: 0%;
        left: 50%;
        width: 50%;
        height: 100%;
}
